* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}


html {
  margin: 0 30vw;
}

.signup-form, .signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

h2 {
  text-align: center;
}

.errorMsg {
  color: red;
}

.successMsg {
  color: green;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title, .login-link, .signup-link, .upload-link {
  margin: 0 15px;
  color: black;
}


.title:hover, .login-link:hover, .signup-link:hover, .upload-link:hover {
  color: red;
}

.file {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filename {
  width: 200px;
}

.filewrapper {
  margin-top: 100px;
}

.filestitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.buttons-wrapper > button {
  margin-left: 5px;
}

.uploadwrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}